.navbar .navbar-nav .lang-es .nav-link.lang-es, .navbar .navbar-nav .lang-en .nav-link.lang-en {
    color: #0277BD;
    font-weight: bold;
}

.navbar {
    box-shadow: 0 -5px 12px;
}

.container-btn-links {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.1s 0s ease-in-out;
}

.container-btn-links:hover {
    background-color: rgb(228, 228, 228);
}

.container-btn a {
    color: inherit;
}

.container-btn a:hover {
    text-decoration: none;
    color: inherit;
}

.notification {
    position: relative;
    margin-right: 25px;
}

.notification > a {
    font-size: 25px;
}

.notification > span {
    position: absolute;
    top: 5px;
    left: 7px;
    font-size: 12px;
    background: rgb(226, 87, 76);
    padding: 0 3px;
    margin: 0;
    line-height: 15px;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 -1px 1px darkgrey;
}

.modal {
    word-break: break-word;
}