.section-search{
    background-color: rgb(228, 228, 228);
    height: 220px;
    padding: 50px 120px;
    display: flex;
    align-items: center;
    margin-top: -100px;
    padding-top: 150px;
}


.blogetc_container {
    padding: 50px 120px 70px;
}

.blogindex {
    background-color: rgb(228, 228, 228);
}

.blogindex .pagination li a {
    color: #8e8e8e;
}

.blogetc_container h1 {
    color: #8e8e8e;
}

.blogindex a:hover {
    text-decoration: none;
    text-transform: uppercase;
}

.hvr-underline-from-center.active h1 {
    color: rgb(225, 175, 90) !important;
}

.hvr-underline-from-center h1 {
    color: rgb(142, 142, 142) !important;
}



.section-search > .search-advance{
    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.section-search > .search-advance .form-group{
    margin-bottom: 0;
    margin-left: 30px;
}

.section-sigin-sigout{
    background-color: rgb(142, 142, 142);
    padding: 50px 120px;
    text-align: right;
}

.section-sigin-sigout-text{
    display: flex;
    justify-content: flex-end;
}

.section-sigin-sigout .arrow-floating {
    transition: all 0.2s 0s ease-in-out;
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
}

.section-sigin-sigout .arrow-floating:hover {
    cursor: pointer;
}

@-webkit-keyframes floating-arrow {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    65% {
        -webkit-transform: translateY(11px);
        transform: translateY(11px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes floating-arrow {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    65% {
        -webkit-transform: translateY(11px);
        transform: translateY(11px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes floating-arrow {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    65% {
        -webkit-transform: translateY(11px);
        transform: translateY(11px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.section-sigin-sigout .arrow-toggle-line:after,
.section-sigin-sigout .arrow-toggle-line:before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    cursor: pointer;
    width: 20px;
    border-bottom: 3px solid rgb(225, 175, 90);
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    top: 7px;
}

button.btn.btn-yellow a,
h3.color-yellow a
{
    color: rgb(225, 175, 90);
}

button.btn.btn-yellow a:hover,
h3.color-yellow a:hover {
    text-decoration: none;
}

.section-sigin-sigout .arrow-toggle-line.open:after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 13px;
}

.section-sigin-sigout .arrow-toggle-line.open:before {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.section-sigin-sigout .arrow-toggle-line:after {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    left: 13px;
}

.section-sigin-sigout .arrow-toggle-line:before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container-signin-signout{
     margin-top: 50px;
     display: flex;
}
.container-signin-signout-aux{
    flex: 1;
}

.container-signin-signout-content{
    flex: 5;
}

.container-signin-signout-button,
.container-signin-signout-input,
.container-signin-signout-last{
    display: flex;
}

.container-signin-signout-button button,
.container-signin-signout-input .form-group{
    flex: 1;
}
.container-signin-signout-last .h3-middle{
    flex: 4.5;
    justify-content: center;
    align-self: center;
    display: flex;
}

.container-signin-signout-last > button{
    flex: 1;
}
.container-signin-signout-last > h3:first-child{
    flex: 2;
    text-align: left;
    align-self: center;
}

.changecontext:hover{
    cursor: pointer;
}

@media (max-width: 1249px) {
    .section-search{
        height: 200px;
        padding: 50px 100px;
        margin-top: -80px;
        padding-top: 130px;
    }
    .section-sigin-sigout{
        padding: 50px 100px;
    }
}

@media (max-width: 960px) {
    .section-search{
        padding: 40px 30px;
        height: auto;
        flex-direction: column;
        align-items: center;
        margin-top: -80px;
        padding-top: 120px;
    }
    .section-search > .search-advance{
        margin-top: 15px;
        flex-direction: column;
        flex: 1;
        align-items: center;
    }

    .section-search > .search-advance .form-group{
        margin-top: 5px;
        margin-left: 0;
    }

    .section-sigin-sigout{
        padding: 40px 30px;
        text-align: left;
    }

    .section-sigin-sigout-text{
        display: flex;
        justify-content: center;
    }

    .container-signin-signout-aux{
        flex: 0;
        display: none;
    }

    .container-signin-signout-content{
        flex: 1;
    }

    .container-signin-signout-button,
    .container-signin-signout-input,
    .container-signin-signout-last{
       flex-direction: column;
    }

    .container-signin-signout-button button:first-child{
        margin-right: 0 !important;
    }
    .container-signin-signout-button button:last-child{
        margin-left: 0 !important;
        margin-top: 10px;
    }

    .container-signin-signout-input .form-group{
        margin-bottom: 0;
    }

    .container-signin-signout-input .form-group:first-child{
        margin-right: 0 !important;
    }

    .container-signin-signout-input .form-group:last-child{
        margin-left: 0 !important;
        margin-top: 10px;
    }

    .container-signin-signout-last{
        margin-top: 30px !important;
    }

    .container-signin-signout-last > *{
        margin-bottom: 10px !important;
    }

}

.cls-2, .cls-1 {
    fill: rgb(136, 136, 136);
}


/*blog-section-4*/
.home-section-4 {
    padding: 50px 100px 0;
    background-color: rgb(228, 228, 228);
}

.home-section-4 > div {
    display: flex;
    align-items: flex-start;
    text-align: left;
    padding: 0 20px 60px;
}

.home-section-4 > div > p {
    flex: 1;
    padding-bottom: 15px;
    margin-right: 25px;
}

.home-section-4 > div > button {
    margin-bottom: 20px;
}

@media (min-width: 1250px) {
    .home-section-4 > div:nth-child(3n+1) {
        padding-left: 0;
        margin-left: 0;
    }

    .home-section-4 > div:nth-child(3n) {
        padding-right: 0;
        margin-right: 0;
    }
}


.home-section-4 div:first-child {
    padding-left: 0;
    margin-left: 0;
}

@media (max-width: 1249px) {


    .home-section-4 {
        padding: 20px 30px 0;
    }

    .home-section-4 > div {
        align-items: center;
        text-align: center;
    }

    .home-section-4 > div p {
        margin-right: 0;
    }

    .home-section-4 > div:nth-child(2n+1) {
        padding-left: 0;
        margin-left: 0;
    }

    .home-section-4 > div:nth-child(2n) {
        padding-right: 0;
        margin-right: 0;
    }
}

@media (max-width: 960px) {
    .home-section-4 {
        padding: 0 30px 0 0;
    }

    .home-section-4 > div {
        padding: 0;
        margin-bottom: 60px;
    }
}

/*fin blog-section-4*/

.pb-b8 {
    padding-bottom: 3rem !important;
}


/*home-section-3*/
.home-section-3 {
    padding: 50px 120px 0;
    background-color: rgb(228, 228, 228);
}

.home-section-3 > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0 20px 60px;
}

.home-section-3 > div > p {
    flex: 1;
    padding-bottom: 15px;
    margin-right: 25px;
}

.home-section-3 > div > button {
    margin-bottom: 20px;
}

@media (min-width: 1250px) {
    .home-section-3 > div:nth-child(3n+1) {
        padding-left: 0;
        margin-left: 0;
    }

    .home-section-3 > div:nth-child(3n) {
        padding-right: 0;
        margin-right: 0;
    }
}

@media (max-width: 1249px) {
    .home-section-3 {
        padding: 50px 70px 0;
    }

    .home-section-3 > div {
        align-items: center;
        text-align: center;
    }

    .home-section-3 > div p {
        margin-right: 0;
    }

    .home-section-3 > div:nth-child(2n+1) {
        padding-left: 0;
        margin-left: 0;
    }

    .home-section-3 > div:nth-child(2n) {
        padding-right: 0;
        margin-right: 0;
    }
}

@media (max-width: 960px) {
    .home-section-3 {
        padding: 50px 30px 0;
    }

    .home-section-3 > div {
        padding: 0;
        margin-bottom: 60px;
    }
}

/*fin home-section-3*/