.guide-section-0 {
    height: 100vh;
    background: url('../images/lg/2.jpg') top center /cover;
    padding: 60px 120px;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.guide-section-0 h3.subtitle{
    padding: 15px 0 20px;
}

.guide-section-0 h4.selected{
    padding: 20px 0 40px;
}

.guide-section-0 button{
    margin: 60px 0 20px 0;
}

.container-guides{
    flex: auto;
    display: flex;
    justify-content: flex-end;
    padding: 35px 0;
}

.container-guides > div{
    padding-right: 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    flex: 25%;
}

.container-guides .guides-h3{
    margin: 0 0 30px;
}



@media (max-width: 1249px) {
    .guide-section-0 {
        background: url('../images/md/2.jpg') top center /cover;
        padding: 50px 100px;
    }

    .guide-section-0 h4.selected{
        padding: 20px 0 30px;
    }

    .guide-section-0 button{
        margin: 50px 0 0 0;
    }

    .container-guides .guides-h3{
        padding: 0 0 30px;
    }
}

@media (max-width: 960px) {
    .guide-section-0 {
        padding: 30px;
        text-align: center;
        background: url('../images/sm/2.jpg') top center /cover;
    }

    .guide-section-0 button{
        margin: 20px 0;
    }

    .container-guides{
       flex-direction: column;
    }

    .container-guides > div{
        text-align: center;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .container-guides .guides-h3{
        padding: 0;
        margin: 0;
    }
}