.base-height {
    --height-img-guide:300px;
}

.guide-section-0 {
    background-color: rgb(228, 228, 228);
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-top: -120px;
    padding: 160px 120px 60px;
}

.guide-section-0 h3.subtitle{
    padding: 15px 0 20px;
}

.guide-section-0 h4.selected{
    padding: 0 0 30px 0;
}

.guide-section-0 button{
    margin: 20px 0 0 0;
}

.container-guides{
    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    padding: 35px 0 5px 25%;
    overflow: auto;
}


.container-guides .guide-item{
    margin-bottom: 30px;
    padding-left: 90px;
}

.guide-item .box {
    height: 20px;
    width: 20px;
    padding: 4px;
    border: 2px solid #FFF;
    float: right;
    cursor: pointer;
}

.guide-item .box .check {
    height: 100%;
    width: 100%;
    background-color: #FFF;
}

.guide-item h3{
    margin-right: 32px;
    margin-top: 1px;
}

.guide-section-0 .container-guides-info{
    text-align: left;
    height: calc(var(--height-img-guide) - 58px);
    text-overflow: ellipsis;
    overflow: hidden;
}

div.pic-cont{
    padding-left: 0;
    padding-right: 0;
}

.guide-section-0 .container-img-guide{
    height: 300px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-guides{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,0,0, 0.5);
}

.guide-section-1 {
    background-color: rgb(142, 142, 142);
    padding: 60px 120px;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.guide-section-1 #container-suscribe{
    display: flex;
}

.pagination-guide{
    display: flex;
    text-align: left;
    margin-bottom: 15px;
}

.pagination-guide > .btn{
    border: none;
    color: rgb(142, 142, 142);
}

.btn-hover:hover{
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width: 1920px) {

    .container-img-guide{
        height: 444px !important;
    }

    .base-height {
        --height-img-guide:444px;
    }
}

@media (max-width: 1366px) {
    .container-img-guide {
        height: 312px !important;
    }

    .base-height {
        --height-img-guide:312px;
    }
}

@media (max-width: 1249px) {
    .guide-section-0 {
        margin-top: -80px;
        padding: 120px 100px 50px;
    }

    .guide-section-0 button {
        margin: 20px 0 0 0;
    }

    .container-guides{
        padding-left: 0;
        padding-bottom: 0;
    }

    .guide-section-1 {
        padding: 50px 100px;
    }

    #container-btn-download {
        margin-bottom: 30px;
    }
}

@media (max-width: 960px) {
    .guide-section-0 {
        /*text-align: center;*/
        padding: 110px 30px 50px;
    }

    .guide-section-0 button{
        margin: 20px 0 30px 0;
    }

    .guide-section-0 .pagination-guide button{
        margin: 20px 0 0 0;
    }


    .container-guides .guide-item{
        margin-bottom: 20px;
        padding-left: 0;
        text-align: right;
    }

    .guide-item h3{
        margin-right: 40px;
    }

    .guide-section-1 {
        text-align: center;
        padding: 50px 30px;
    }

    .guide-section-1 #container-suscribe{
        flex-direction: column;
    }

    .guide-section-1 #container-suscribe input{
        margin-bottom: 15px;
        margin-right: 0;
    }

    #container-btn-download{
        margin-bottom: 15px;
    }

}

@media (max-width: 767px) {
    div.row.g{
        height: 530px !important;
    }

    .base-height {
        --height-img-guide:562px;
    }

    .container-img-guide{
        height: 562px !important;
    }
}

@media (max-width: 646px) {
    div.row.g{
        height: 465px !important;
    }

    .base-height {
        --height-img-guide:490px;
    }

    .container-img-guide{
        height: 490px !important;
    }
}

@media (max-width: 590px) {
    div.row.g{
        height: 390px !important;
    }

    .base-height {
        --height-img-guide:562px;
    }

    .container-img-guide{
        height: 562px !important;
    }
}

@media (max-width: 500px) {
    div.row.g{
        height: 320px !important;
    }

    .base-height {
        --height-img-guide:350px;
    }

    .container-img-guide{
        height: 350px !important;
    }
}

@media (max-width: 414px) {
    div.row.g{
        height: 302px !important;
    }

    .base-height {
        --height-img-guide:316px;
    }

    .container-img-guide{
        height: 316px !important;
    }
}

@media (max-width: 400px) {
    div.row.g{
        height: 325px !important;
    }

    .base-height {
        --height-img-guide:300px;
    }

    .container-img-guide {
        height: 300px !important;
    }
}

@media (max-width: 368px) {
    div.row.g{
        height: 400px !important;
    }
}

@media (max-width: 330px) {
    div.row.g{
        height: 440px !important;
    }
}
