.guide-section-0 {
    height: 100vh;
    background: url('../images/lg/2.jpg') top center /cover;
    padding: 60px 120px;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.guide-section-0 h3.subtitle{
    padding: 15px 0 20px;
}

.guide-section-0 h4.selected{
    padding: 0 0 30px 0;
}

.guide-section-0 button{
    margin: 60px 0 20px 0;
}

.container-guides{
    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    padding: 35px 0 5px 25%;
    overflow: auto;
}


.container-guides .guide-item{
    margin-bottom: 30px;
    padding-left: 90px;
}

.guide-item .box {
    height: 20px;
    width: 20px;
    padding: 4px;
    border: 2px solid #FFF;
    float: right;
    cursor: pointer;
}

.guide-item .box .check {
    height: 100%;
    width: 100%;
    background-color: #FFF;
}

.guide-item h3{
    margin-right: 32px;
    margin-top: 1px;
}

@media (max-width: 1249px) {
    .guide-section-0 {
        background: url('../images/md/2.jpg') top center /cover;
        padding: 50px 100px;
    }

    .guide-section-0 button{
        margin: 50px 0 0 0;
    }

    .container-guides{
        padding-left: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 960px) {
    .guide-section-0 {
        padding: 50px 30px;
        text-align: center;
        background: url('../images/sm/2.jpg') top center /cover;
    }

    .guide-section-0 button{
        margin: 20px 0 0 0;
    }

    .guide-section-0 h3.subtitle{
        padding: 15px 0 0 0;
    }

    .container-guides .guide-item{
        margin-bottom: 20px;
        padding-left: 0;
        text-align: right;
    }

    .guide-item h3{
        margin-right: 40px;
    }
}