.container-ligh-gray {
    background: url("../images/lg/9.jpg") top center /cover;
}

.container-dark-gray {
    background: url("../images/lg/10.jpg") top center /cover;
}

.light-gray-block,
.dark-gray-block {
    height: 384px;
    width: 578px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.light-gray-block {
    align-items: flex-end;
    background-color: rgba(50, 50, 50, 0.3);
    padding: 50px 120px 50px 80px;
    text-align: right;
}

.dark-gray-block {
    align-items: flex-start;
    background-color: rgba(50, 50, 50, 0.7);
    padding: 50px 140px 50px 120px;
}

.light-gray-block > h1,
.light-gray-block > h2,
.dark-gray-block > h1,
.dark-gray-block > h2 {
    margin-bottom: 20px;
}

.light-gray-block .container-sales,
.dark-gray-block .container-sales {
    display: inline-flex;
}

.light-gray-block .container-sales h2:first-child,
.dark-gray-block .container-sales h2:first-child {
    padding-right: 15px;
}

.light-gray-block .container-sales h2:last-child,
.dark-gray-block .container-sales h2:last-child {
    padding-left: 15px;
}

.light-gray-block > div:last-child,
.dark-gray-block > div:last-child {
    position: absolute;
    bottom: 50px;
    text-align: right;
    height: 40px;
    width: 50px;
}

.arrow-floating {
    /*-webkit-animation: floating-arrow 1.3s infinite ease-in-out 0s;*/
    /*-o-animation: floating-arrow 1.3s infinite ease-in-out 0s;*/
    /*animation: floating-arrow 1.3s infinite ease-in-out 0s;*/
}

.arrow-floating:hover {
    cursor: pointer;
}

@-webkit-keyframes floating-arrow {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    65% {
        -webkit-transform: translateY(11px);
        transform: translateY(11px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes floating-arrow {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    65% {
        -webkit-transform: translateY(11px);
        transform: translateY(11px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes floating-arrow {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    65% {
        -webkit-transform: translateY(11px);
        transform: translateY(11px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.arrow-toggle-line:after,
.arrow-toggle-line:before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    cursor: pointer;
    width: 30px;
    border-bottom: 3px solid #FFF;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    top: 15px;
}

.arrow-toggle-line.open:after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 20px;
}

.arrow-toggle-line.open:before {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.arrow-toggle-line:after {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    left: 20px;
}

.arrow-toggle-line:before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container-open-ligh-gray,
.container-open-dark-gray {
    display: none;
    background-color: rgb(228, 228, 228);
}

.text-brickell{
    padding: 50px 120px;
}

.container-open-ligh-gray .text-brickell .column-especial {
    height: 220px;
    column-fill: auto;
}

.container-open-dark-gray .text-brickell .column-especial {
    height: 260px;
    column-fill: auto;
}

.text-brickell p {
    columns: 3;
    column-gap: 25px;
    margin-bottom: 0;
}

.first-img-brickell {
    height: 384px;
    background-image: url("../images/lg/11.jpg");
}

.second-img-brickell {
    height: 384px;
    background-image: url("../images/lg/12.jpg");
}

.thirth-img-brickell {
    height: 384px;
    background-image: url("../images/lg/13.jpg");
}

.first-img-downtown {
    height: 384px;
    background-image: url("../images/lg/14.jpg");
}

.second-img-downtown {
    height: 384px;
    background-image: url("../images/lg/15.jpg");
}

@media (max-width: 1249px) {
    .container-ligh-gray {
        background: url("../images/md/11.jpg") top center /cover;
    }

    .container-dark-gray {
        background: url("../images/md/12.jpg") top center /cover;
    }

    .light-gray-block,
    .dark-gray-block {
        width: 100%;
    }

    .light-gray-block,
    .dark-gray-block {
        align-items: center;
        padding: 50px 0;
        text-align: center;
    }

    .light-gray-block .container-sales h2:first-child,
    .dark-gray-block .container-sales h2:first-child {
        padding-right: 20px;
    }

    .light-gray-block .container-sales h2:last-child,
    .dark-gray-block .container-sales h2:last-child {
        padding-left: 20px;
    }

    .text-brickell {
        padding: 50px 100px;
    }

   .text-brickell p {
        columns: 2;
        column-gap: 25px;
    }

   /*.first-img-brickell {*/
       /*background-image: url("../images/md/13.jpg");*/
    /*}*/

    /*.second-img-brickell {*/
        /*background: url("../images/md/14.jpg") top center /cover;*/
    /*}*/

   /*.thirth-img-brickell {*/
        /*background: url("../images/md/15.jpg") top center /cover;*/
    /*}*/

    /*.first-img-downtown {*/
        /*background: url("../images/md/16.jpg") top center /cover;*/
    /*}*/

    /*.second-img-downtown {*/
          /*background: url("../images/md/17.jpg") top center /cover;*/
    /*}*/
}

@media (max-width: 960px) {
    .container-ligh-gray {
        background: url("../images/sm/11.jpg") top center /cover;
    }

    .container-dark-gray {
        background: url("../images/sm/12.jpg") top center /cover;
    }

    .light-gray-block,
    .dark-gray-block {
        align-items: center;
        padding: 50px 30px;
        text-align: center;
    }

    .light-gray-block .container-sales h2:first-child,
    .dark-gray-block .container-sales h2:first-child {
        padding-right: 15px;
    }

    .light-gray-block .container-sales h2:last-child,
    .dark-gray-block .container-sales h2:last-child {
        padding-left: 15px;
    }

    .text-brickell {
        padding: 50px 30px;
    }

    .text-brickell p {
        columns: 1;
    }

    /*.first-img-brickell {*/
        /*height: 314px;*/
        /*background: url("../images/sm/13.jpg") top center /cover;*/
    /*}*/

    /*.second-img-brickell {*/
        /*height: 314px;*/
        /*background: url("../images/sm/14.jpg") top center /cover;*/
    /*}*/

   /*.thirth-img-brickell {*/
        /*height: 314px;*/
        /*background: url("../images/sm/15.jpg") top center /cover;*/
    /*}*/

    /*.first-img-downtown {*/
        /*height: 314px;*/
        /*background: url("../images/sm/16.jpg") top center /cover;*/
    /*}*/

    /*.second-img-downtown {*/
        /*height: 314px;*/
        /*background: url("../images/sm/17.jpg") top center /cover;*/
    /*}*/

    .thirth-img-downtown {
        height: 314px;
        background-image: url("../images/sm/18.jpg");
    }
}