@font-face {
    font-family: 'SinkinSans-100Thin';
    src: url('../fonts/SinkinSans-100Thin.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'SinkinSans-500Medium';
    src: url('../fonts/SinkinSans-500Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'SinkinSans-600SemiBold';
    src: url('../fonts/SinkinSans-600SemiBold.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'SinkinSans-700Bold';
    src: url('../fonts/SinkinSans-700Bold.otf') format('opentype');
    font-weight: 700;
}

body {
    font-family: 'SinkinSans-500Medium', sans-serif;
    font-size: 12px;
    margin-bottom: 0;
    line-height: 20px;
    letter-spacing: 1px;
}

.color-white {
    color: rgb(255, 255, 255);
}

.color-gray {
    color: rgb(142, 142, 142);
}

.color-gray-light {
    color: rgb(228, 228, 228);
}

.color-red {
    color: rgb(137, 0, 0);
}

.color-yellow {
    color: rgb(225, 175, 90);
}

h1 {
    font-size: 25px;
    font-family: 'SinkinSans-700Bold', sans-serif;
    color: rgb(225, 175, 90);
    margin-bottom: 0;
    line-height: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    font-family: 'SinkinSans-500Medium', sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    line-height: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h3 {
    font-size: 12px;
    font-family: 'SinkinSans-500Medium', sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 20px;
}

h4 {
    font-size: 11px;
    font-family: 'SinkinSans-500Medium', sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 20px;
}

.btn {
    border-radius: 0;
    background-color: transparent;
    padding: 7px 15px 5px;
    font-size: 13px;
    letter-spacing: 2px;
    border: 3px solid;
}

.btn:hover {
    transition: all 0.2s 0.1s ease-in-out;
    transform: scale(1.1);
}

.btn-white, .btn-white:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.btn-gray , .btn-gray:hover {
    color: rgb(142, 142, 142);
    border-color: rgb(142, 142, 142);
    text-transform: uppercase;
}

.btn-yellow {
    color: rgb(225, 175, 90);
    border-color: rgb(225, 175, 90);
    text-transform: uppercase;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

section {
    padding-top: 50px;
    padding-bottom: 40px;
}

/*Navbar*/
.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px 120px 0 120px;
    transition: all 0.6s 0.1s ease-in-out;
    height: 175px;
    z-index: 10;
    overflow: hidden;
    font-family: 'SinkinSans-600SemiBold', sans-serif;
}

.navbar-space-fill {
    height: 100px;
}

.nav-bar.scrolled {
    position: fixed;
}

.nav-bar > .container {
    margin: 0;
    max-width: initial;
}

.nav-bar .menu-ct {
    position: absolute;
    right: 0;
    top: 0;
}

.nav-bar ul {
    padding: 19px 0 0 0;
    margin: 0;
    transition: all 0.2s 0.1s ease-in-out;
}

.nav-bar ul li {
    display: inline;
    border-color: rgb(225, 175, 90);
    padding: 6px 10px 4px;
    margin: 0 3px;
}

.nav-bar ul li a {
    color: #FFF;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-bar .brand-ct {
    position: relative;
    transition: all 0.2s 0.1s ease-in-out;
}

.brand-ct div img {
    width: 100%;
}

.nav-bar .brand-ct .brand-img,
.nav-bar .brand-ct .brand-subimg {
    position: absolute;
    transition: all 0.2s 0.1s ease-in-out;
}

.nav-bar .brand-ct .brand-img {
    top: 0;
    left: 0;
    width: 245px;
    height: 60px;
}

.nav-bar .brand-ct .brand-subimg {
    top: 85px;
    left: 50px;
    width: 150px;
    height: 40px;
}

.nav-bar.scrolled {
    height: 100px;
    padding-top: 30px;
    padding-bottom: 18px;
    background: url("../images/lg/7.jpg") top center /cover;
    box-shadow: 0 -5px 25px;
}

.nav-bar.scrolled ul {
    padding-top: 12px;
}

/* Safari Fix */
.menu-ct.pc ul {
    width: 110% !important;
}

.nav-bar.scrolled .brand-ct .brand-img {
    width: 172px;
}

.nav-bar.scrolled .brand-ct .brand-subimg {
    width: 100px;
    top: 13px;
    left: 192px;
}

.nav-bar.scroll-down {
    top: -130px;
}

.mobile-buttons {
    display: none;
    padding-top: 10px;
}

.mobile-buttons a {
    color: #FFF;
    padding: 0 10px;
    display: inline-block;
    position: relative;
}

.phone-lang-buttons {
    display: none;
}

.phone-lang-buttons a {
    padding: 0 10px;
}

.phone-lang-buttons img {
    width: 80px;
}

.tablet-lang-buttons a{
    text-decoration: none;
}

.nav-bar .menu-ct.mobile {
    display: none;
}

@media (max-width: 1249px) {

    .nav-bar {
        padding: 50px 100px;
    }

    .nav-bar.scrolled {
        height: 80px;
        padding: 20px 100px 20px;
        background: url("../images/md/9.jpg") top center /cover;
    }

    .navbar-space-fill {
        height: 80px;
    }

    .nav-bar.open {
        height: 440px;
        background: url("../images/md/8.jpg") top center /cover;
    }

    .nav-bar.scrolled .mobile-buttons {
        display: block;
    }

    .nav-bar .menu-ct.pc {
        display: none;
    }

    .nav-bar .menu-ct.mobile {
        display: block;
        top: 130px;
        left: 0;
        text-align: center;
        transition: all 0.2s 0.1s ease-in-out;
    }

    .nav-bar.scrolled.scroll-down {
        height: 80px;
    }

    .nav-bar .menu-ct.mobile ul div {
        margin-bottom: 25px;
    }

    .nav-bar.scrolled ul {
        padding-top: 7px;
    }

    .nav-bar .brand-ct {
        margin: 0 -123px;
        width: 245px;
        position: absolute;
        left: 50%;
        right: 50%;
    }

    .nav-bar.scrolled .brand-ct {
        margin: 0;
        left: 0;
    }

    .nav-bar.scrolled .brand-ct .brand-img {
        width: 130px;

    }

    .nav-bar.scrolled .brand-ct .brand-subimg {
        width: 90px;
        top: 7px;
        left: 150px;
    }
}

@media (max-width: 960px) {
    .nav-bar {
        padding: 60px 30px 20px;
        height: 170px;
    }

    .nav-bar.scrolled {
        height: 80px;
        padding: 20px 30px 20px;
        background: url("../images/sm/9.jpg") top center /cover;
    }

    .nav-bar.open {
        height: 100vh;
        background: url("../images/sm/8.jpg") top center /cover;
    }

    .nav-bar .brand-ct {
        margin: 0 -110px;
        width: 220px;
        position: absolute;
        left: 50%;
        right: 50%;
    }

    .nav-bar.open .brand-ct {
        margin: 0 -63px;
        width: 125px;
        position: absolute;
        left: 50%;
        right: 50%;
    }

    .nav-bar .menu-ct.pc {
        display: none;
    }

    .nav-bar .menu-ct.mobile {
        top: 62px;
        left: 0;
    }

    .nav-bar.scrolled .menu-ct.mobile {
        top: 150px;
    }

    .nav-bar.open .menu-ct.mobile {
        top: 50px;
    }

    .nav-bar .menu-ct.mobile ul div {
        margin-bottom: 25px;
    }

    .nav-bar .menu-ct.mobile .brand-subimg {
        margin-bottom: 70px;
    }

    .nav-bar .menu-ct.mobile .phone-lang-buttons {
        margin-bottom: 50px;
    }

    .tablet-lang-buttons {
        display: none;
    }

    .nav-bar .phone-lang-buttons {
        display: block;
    }

    .nav-bar .brand-ct .brand-img {
        width: 220px;
    }

    .phone-lang-buttons img {
        width: 110px !important;
    }

    .nav-bar.open .brand-ct .brand-img,
    .nav-bar.scrolled .brand-ct .brand-img {
        width: 160px;
    }

    .nav-bar.scrolled.open .brand-ct .brand-img {
        left: -15px;
    }

    .nav-bar .brand-ct .brand-subimg {
        display: none;
        width: 60px;
    }
}

.lang-en, .lang-es,
.lang-en .lang-es, .lang-es .lang-en {
    color: rgb(142, 142, 142);
}

.button-toggle {
    cursor: pointer;
    height: 23px;
    width: 30px;
    right: 0;
}

.button-toggle:focus {
    outline: none;
}

.button-toggle-line,
.button-toggle-line:before,
.button-toggle-line:after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    cursor: pointer;
    width: 30px;
    border-bottom: 3px solid #FFF;
    top: 9px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.button-toggle-line:before {
    top: -9px;
}

.button-toggle-line:after {
    top: 9px;
}

.nav-bar.open .button-toggle .button-toggle-line {
    border-color: transparent;
}

.nav-bar.open .button-toggle .button-toggle-line:before,
.nav-bar.open .button-toggle .button-toggle-line:after {
    top: 0;
}

.nav-bar.open .button-toggle .button-toggle-line:before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-bar.open .button-toggle .button-toggle-line:after {
    top: 10px;
    -ms-transform: translatey(-10px) rotate(-45deg);
    -webkit-transform: translatey(-10px) rotate(-45deg);
    transform: translatey(-10px) rotate(-45deg);
}

@media (max-width: 960px) {
    .button-toggle {
        height: 23px;
        width: 27px;
    }

    .button-toggle-line,
    .button-toggle-line:before,
    .button-toggle-line:after {
        width: 27px;
        border-bottom: 3px solid #FFF;
        top: 9px;
    }

    .button-toggle-line:before {
        top: -9px;
    }

    .button-toggle-line:after {
        top: 9px;
    }
}
/**/

/*Efecto:  Underline From Center para los botones */
.hvr-underline-from-center{
    display: inline;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: -3px;
    background: rgb(225, 175, 90);
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.hvr-underline-from-center a:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 8px;
    right: 12px;
}

.nav-bar .hvr-underline-from-center:focus:before, .nav-bar .hvr-underline-from-center:active:before {
    height: 0;
}

.nav-bar .hvr-underline-from-center:focus, .nav-bar .hvr-underline-from-center:active {
    outline: transparent;
}

.nav-bar .hvr-underline-from-center.active{
    outline: rgb(225, 175, 90) solid 3px;
}

.hvr-underline-from-center.active:hover:before {
    left: 51%;
    right: 51%;
}

.footer {
    height: 150px;
    padding: 60px 120px 0;
    background: url("../images/lg/6.jpg") top center /cover;
    overflow: hidden;
}

.footer > .container {
    margin: 0;
    max-width: initial;
}

.footer .brand-ct .brand-img,
.footer .brand-ct .brand-subimg {
    position: absolute;
}

.footer .brand-ct .brand-img {
    top: 0;
    left: 0;
    width: 130px;
    height: 40px;
}

.footer .brand-ct .brand-subimg {
    top: 10px;
    left: 150px;
    width: 64px;
    height: 20px;
}

.footer .menu-ct {
    position: absolute;
    top: 0;
    right: 0;
}

.footer .menu-ct ul li {
    display: inline;
    padding: 5px 15px;
}

.footer .menu-ct ul li a {
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
}

.footer .menu-ct ul li a:hover {
    color: rgb(225, 175, 90);
}

.footer .menu-ct ul li.active a {
    color: rgb(225, 175, 90);
}

.footer .footer-copyright {
    font-size: 9px;
    text-transform: uppercase;
    position: absolute;
    right: 15px;
    top: 53px;
    line-height: 14px;
}

@media (max-width: 1249px) {
    .footer {
        height: 185px;
        padding: 80px 100px 0;
        background: url("../images/md/7.jpg") top center /cover;
    }

    .footer .brand-ct .brand-img {
        top: -22px;
        left: 0;
        width: 130px;
        height: 40px;
    }

    .footer .brand-ct .brand-subimg {
        top: 35px;
        left: 33px;
        width: 64px;
        height: 20px;
    }
}

@media (max-width: 960px) {
    .footer {
        height: 255px;
        padding: 60px 30px 0;
        background: url("../images/sm/7.jpg") top center /cover;
    }

    .footer .brand-ct .brand-img {
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 40px;
        text-align: center;
    }

    .footer .brand-ct .brand-img img {
        width: 130px;
    }

    .footer .brand-ct .brand-subimg {
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        height: 20px;
        text-align: center;
    }

    .footer .brand-ct .brand-subimg img {
        width: 80px;
    }

    .footer .menu-ct {
        display: none;
    }

    .footer .footer-copyright {
        top: 110px;
        left: 0;
        right: 0;
        text-align: center;
    }
}


.display-tablet,
.display-mobile{
    display: none;
}

@media (max-width: 1249px) {
    .display-pc{
        display: none;
    }
    .display-tablet {
        display: block;
    }
}

@media (max-width: 960px) {
    .display-tablet,
    .display-pc{
        display: none;
    }
    .display-mobile {
        display: block;
    }
}

#back-to-top{
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}
@media (max-width: 960px) {
    #back-to-top{
        right: 30px;
    }
}

.img-parallax{
    /*background-attachment: fixed !important;*/
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover !important;
}

textarea {
    resize: none;
}

.form-control:focus{
    border-color: rgb(225, 175, 90);
    box-shadow: 0 0 0 0.2rem rgba(225, 175, 90, .10);
}

.modal-footer>.btn{
    margin: 0 0 5px 0;
}





/*Nuevo navbar*/
@media (min-width: 1249px) {
    .link-tools {
        padding-right: 10px;
    }

    #container-navbar-arrow{
        display: inline-block;
        padding: 0 15px 0 5px;
        cursor: pointer;
        height: 15px;
    }

    .navbar-arrow-toggle-line:after,
    .navbar-arrow-toggle-line:before {
        content: "";
        position: absolute;
        display: block;
        height: 1px;
        width: 11px;
        border-bottom: 2px solid rgb(225, 175, 90);
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        top: 14px;
    }

    .navbar-arrow-toggle-line:after {
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        right: 12px;
    }

    .navbar-arrow-toggle-line:before {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        right: 19px;
    }

    .navbar-arrow-toggle-line.open:after {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        right: 13px;
    }

    .navbar-arrow-toggle-line.open:before {
        -ms-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .nav-bar ul div.li-especial {
        position: absolute;
        right: -250px;
        top: 60px;
        transition: all 0.3s 0.1s ease-in-out;
    }

    .nav-bar ul div.li-especial.open {
        right: 26px;
    }

    .nav-bar ul div.li-especial-es.open {
        right: 39px;
    }

    .nav-bar.scrolled.open-li {
        height: 130px;
    }

    .hvr-underline-from-center.underline-link-tools a:before {
        margin-right: 30px;
    }
}

/*Footer nuevo*/
.footer .container{
    padding: 0;
}

#container-footer-arrow {
    display: inline-block;
    padding: 0 15px 0 5px;
    cursor: pointer;
    height: 15px;
}

.footer-arrow-toggle-line:after,
.footer-arrow-toggle-line:before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 11px;
    border-bottom: 2px solid rgb(225, 175, 90);
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    top: 8px;
}

.footer-arrow-toggle-line:after {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 12px;
}

.footer-arrow-toggle-line:before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 19px;
}

.footer-arrow-toggle-line.open:after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 13px;
}

.footer-arrow-toggle-line.open:before {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.footer ul div.li-especial {
    position: absolute;
    right: 26px;
    top: 150px;
    transition: all 0.2s 0.1s ease-in-out;
}

.footer ul div.li-especial.open {
    top: 30px;
}

.footer ul div.li-especial-es {
    right: 39px;
}

.footer .footer-copyright.open {
    top: 83px;
}

.footer.open {
    height: 180px;
}

.footer {
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

@media (max-width: 1249px) {
    .footer ul div.li-especial {
        right: 16px;
    }

    .footer ul div.li-especial-es {
        right: 29px;
    }

    .footer.open {
        height: 210px;
    }
}