
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grid-gutter-width: 20;


/*breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;*/

//Grid tiers
$grid-breakpoints: (
  xs: 0,
  sm: 360px,
  md: 959px,
  lg: 960px,
  xl: 1250px
);

$container-max-widths: (
  sm: 300px,
  md: 899px,
  lg: 900px,
  xl: 1190px
);

$grid-gutter-width: 30px !default;